.carousel-inner img {
  width: 100%;
  height: 100%;
}

#aboutMeCarousel {
  background-color: none;
  height: fit-content;
  min-width: fit-content;
  overflow: visible;
}

#aboutMeCarousel .carousel-item {
  height: 100%;
}

.carouselControl {
  background-image: none;
  background-color: none;
  width: 15vw;
  height: 90%;
  border-radius: 0px 500px 500px 0px;
  margin-top: auto;
  margin-bottom: auto;
}

.carouselControl:hover {
  background-image: linear-gradient(
    to left,
    rgba(100, 100, 100, 0.2),
    rgba(0, 0, 0, 0)
  );
}

.carouselControlIcon {
  height: 30px;
  width: 30px;
}

@media screen and (min-width: 360px) {
  .carouselControlIcon {
    height: 50px;
    width: 50px;
  }
}

@media screen and (min-width: 576px) {
  .carouselControlIcon {
    height: 70px;
    width: 70px;
  }
}
