.aboutMeCard {
  box-sizing: border-box;
  opacity: 0;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  width: 300px;
  min-width: 300px;
  /* background-color: cyan; */
  background-image: linear-gradient(var(--yellowLight6), var(--yellowLight5));
  /* transition: opacity 0.05s; */
  /* transition: visibility 0.05s; */
  height: fit-content;
  padding-right: 30px;
}

.bgCard {
  background-color: var(--yellow);
  /* background-image: linear-gradient(var(--yellowDark2), var(--yellowLight2)); */
  transform: skewY(354deg);
  transform-origin: top left;
  height: 85px;
  opacity: 0.25;
}

.bgCard2 {
  /* background-color: black; */
  background-color: var(--yellow);
  /* background-image: linear-gradient(var(--yellowDark2), var(--yellowLight2)); */
  transform: skewY(-96deg);
  transform-origin: bottom right;
  height: 550px;
  /* opacity: 1; */
  left: 1px;
  opacity: 0.25;
}

.cardHeading {
  font-size: 20px;
}

.card-title {
  color: var(--yellowDark7);
}

.cardMinipic {
  position: absolute;
  top: 5px;
  right: 6.5px;
  height: 40px;
  width: 40px;
  max-height: 40px;
  max-width: 40px;
  opacity: 0.1;
  filter: brightness(0.5);
}

#aboutMeCarouselHolder {
  position: relative;
  margin-bottom: -450px;
  z-index: 2;
}

#aboutMeCardHolder {
  position: relative;
  margin-bottom: -450px;
  z-index: 2;
}
