.aboutMeCard {
  box-sizing: border-box;
  opacity: 0;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  width: 270px;
  min-width: 270px;
  background-image: linear-gradient(var(--yellowLight6), var(--yellowLight5));
  height: fit-content;
  padding-right: 30px;
}

.verticallyCenterCarouselItems {
  top: 25%;
  transform: translateY(-25%);
  bottom: initial;
}

.bgCard {
  background-color: var(--yellow);
  transform: skewY(354deg);
  transform-origin: top left;
  height: 85px;
  opacity: 0.25;
}

.bgCard2 {
  /* background-color: black; */
  background-color: var(--yellow);
  /* background-image: linear-gradient(var(--yellowDark2), var(--yellowLight2)); */
  transform: skewY(-96deg);
  transform-origin: bottom right;
  height: 550px;
  /* opacity: 1; */
  left: 1px;
  opacity: 0.25;
}

.card-title {
  color: var(--yellowDark7);
}

.cardMinipic {
  position: absolute;
  top: 5px;
  right: 6.5px;
  height: 40px;
  width: 40px;
  max-height: 40px;
  max-width: 40px;
  opacity: 0.1;
  filter: brightness(0.5);
}

#aboutMeCarouselHolder {
  position: relative;
  margin-bottom: -450px;
  z-index: 2;
  max-width: 768px;
}

#aboutMeCardHolder {
  position: relative;
  margin-bottom: -450px;
  z-index: 2;
}

.cardHeading {
  font-size: 14px;
  /* font-style: italic; */
  margin-bottom: 0px;
  opacity: 0.5;
}

.cardProse {
  font-size: var(--proseSize1);
}

.card-body {
  padding-bottom: 0px;
  /* padding-right: 10px; */
}

@media screen and (min-width: 321px) {
  .aboutMeCard {
    width: 320px;
    min-width: 320px;
  }
}

@media screen and (min-width: 410px) {
  .aboutMeCard {
    width: 375px;
    min-width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .cardProse {
    /* font-size: var(--proseSize0); */
  }
}
