:root {
  --yellow: rgb(255, 255, 0);
  --yellowLight1: rgb(255, 255, 43);
  --yellowLight2: rgb(255, 255, 86);
  --yellowLight3: rgb(255, 255, 129);
  --yellowLight4: rgb(255, 255, 172);
  --yellowLight5: rgb(255, 255, 215);
  --yellowLight6: rgb(255, 255, 237);
  --yellowLight7: rgb(255, 255, 247);
  --yellowDark1: rgb(255, 255, 0);
  --yellowDark2: rgb(230, 230, 0);
  --yellowDark3: rgb(205, 205, 0);
  --yellowDark4: rgb(180, 180, 0);
  --yellowDark5: rgb(155, 155, 0);
  --yellowDark6: rgb(130, 130, 0);
  --yellowDark7: rgb(105, 105, 0);
}

.text-black {
  color: black;
}

.text-white {
  color: white;
}

.border-0 {
  border: black solid 0.5px;
}

.border-1 {
  border: black solid 2.5px;
}

.border-2 {
  border: black solid 5px;
}

.border-k0 {
  border: black solid 0.5px;
}

.border-k1 {
  border: black solid 2.5px;
}

.border-k2 {
  border: black solid 5px;
}

.border-b0 {
  border: blue solid 0.5px;
}

.border-b1 {
  border: blue solid 2.5px;
}

.border-b2 {
  border: blue solid 5px;
}

.border-f0 {
  border: fuchsia solid 0.5px;
}

.border-f1 {
  border: fuchsia solid 2.5px;
}

.border-f2 {
  border: fuchsia solid 5px;
}

.border-g0 {
  border: greenyellow solid 0.5px;
}

.border-g1 {
  border: greenyellow solid 2.5px;
}

.border-g2 {
  border: greenyellow solid 5px;
}

.border-r0 {
  border: red solid 0.5px;
}

.border-r1 {
  border: red solid 2.5px;
}

.border-r2 {
  border: red solid 5px;
}

.border-y0 {
  border: yellow solid 0.5px;
}

.border-y1 {
  border: yellow solid 2.5px;
}

.border-y2 {
  border: yellow solid 5px;
}

.border-w0 {
  border: white solid 0.5px;
}

.border-w1 {
  border: white solid 2.5px;
}

.border-w2 {
  border: white solid 5px;
}

.z0 {
  z-index: 0;
}

.z1 {
  z-index: 1;
}

.z2 {
  z-index: 2;
}

.z3 {
  z-index: 3;
}

.z4 {
  z-index: 4;
}

.z5 {
  z-index: 5;
}

.z6 {
  z-index: 6;
}

.z7 {
  z-index: 7;
}

.absoluteSpread {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overflow-h {
  overflow: hidden;
}

.p-rel {
  position: relative;
}

.p-fix {
  position: fixed;
}

.p-abs {
  position: absolute;
}
