:root {
  --mainFont1: "Varela Round", sans-serif;
  --mainFont2: "Baloo Paaji 2", cursive;
  --decorFont2: "Racing Sans One", cursive;
  --decorFont1: "Rowdies", cursive;

  --yellow: rgb(255, 255, 0);

  --yellowLight1: rgb(255, 255, 43);
  --yellowLight2: rgb(255, 255, 86);
  --yellowLight3: rgb(255, 255, 129);
  --yellowLight4: rgb(255, 255, 172);
  --yellowLight5: rgb(255, 255, 215);
  --yellowLight6: rgb(255, 255, 237);
  --yellowLight7: rgb(255, 255, 247);

  --yellowDark1: rgb(255, 255, 0);
  --yellowDark2: rgb(230, 230, 0);
  --yellowDark3: rgb(205, 205, 0);
  --yellowDark4: rgb(180, 180, 0);
  --yellowDark5: rgb(155, 155, 0);
  --yellowDark6: rgb(130, 130, 0);
  --yellowDark7: rgb(105, 105, 0);

  --purple: rgb(100, 0, 199);

  --purpleLight1: rgb(104, 0, 207);
  --purpleLight2: rgb(108, 0, 215);
  --purpleLight3: rgb(112, 0, 223);
  --purpleLight4: rgb(116, 0, 231);
  --purpleLight5: rgb(120, 0, 239);
  --purpleLight6: rgb(124, 0, 247);
  --purpleLight7: rgb(128, 0, 255);

  --purpleDark1: rgb(90, 0, 179);
  --purpleDark2: rgb(80, 0, 159);
  --purpleDark3: rgb(70, 0, 139);
  --purpleDark4: rgb(60, 0, 119);
  --purpleDark5: rgb(50, 0, 99);
  --purpleDark6: rgb(40, 0, 79);
  --purpleDark7: rgb(30, 0, 59);

  --cardWidthLarge: 360px;
  --cardHeightLarge: 225px;

  --cardWidthSmall: 300px;
  --cardHeightSmall: 187.5px;

  --cardHolderWidthLarge: 415px;
  --cardHolderWidthSmall: 100%;

  --myShadow1: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

body {
  font-family: var(--mainFont1);
  color: var(--purpleDark5);
}

.tooltip.show {
  opacity: 1 !important;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--mainFont2);
}

.color-y {
  color: var(--yellow);
}
.color-yl1 {
  color: var(--yellowLight1);
}
.color-yl2 {
  color: var(--yellowLight2);
}
.color-yl3 {
  color: var(--yellowLight3);
}
.color-yl4 {
  color: var(--yellowLight4);
}
.color-yl5 {
  color: var(--yellowLight5);
}
.color-yl6 {
  color: var(--yellowLight6);
}
.color-yl7 {
  color: var(--yellowLight7);
}
.color-yd1 {
  color: var(--yellowDark1);
}
.color-yd2 {
  color: var(--yellowDark2);
}
.color-yd3 {
  color: var(--yellowDark3);
}
.color-yd4 {
  color: var(--yellowDark4);
}
.color-yd5 {
  color: var(--yellowDark5);
}
.color-yd6 {
  color: var(--yellowDark6);
}
.color-yd7 {
  color: var(--yellowDark7);
}
.color-p {
  color: var(--purple);
}
.color-pl1 {
  color: var(--purpleLight1);
}
.color-pl2 {
  color: var(--purpleLight2);
}
.color-pl3 {
  color: var(--purpleLight3);
}
.color-pl4 {
  color: var(--purpleLight4);
}
.color-pl5 {
  color: var(--purpleLight5);
}
.color-pl6 {
  color: var(--purpleLight6);
}
.color-pl7 {
  color: var(--purpleLight7);
}
.color-pd1 {
  color: var(--purpleDark1);
}
.color-pd2 {
  color: var(--purpleDark2);
}
.color-pd3 {
  color: var(--purpleDark3);
}
.color-pd4 {
  color: var(--purpleDark4);
}
.color-pd5 {
  color: var(--purpleDark5);
}
.color-pd6 {
  color: var(--purpleDark6);
}
.color-pd7 {
  color: var(--purpleDark7);
}

.text-black {
  color: black;
}

.text-white {
  color: white;
}

.border-0 {
  border: black solid 0.5px;
}

.border-1 {
  border: black solid 2.5px;
}

.border-2 {
  border: black solid 5px;
}

.border-k0 {
  border: black solid 0.5px;
}

.border-k1 {
  border: black solid 2.5px;
}

.border-k2 {
  border: black solid 5px;
}

.border-b0 {
  border: blue solid 0.5px;
}

.border-b1 {
  border: blue solid 2.5px;
}

.border-b2 {
  border: blue solid 5px;
}

.border-f0 {
  border: fuchsia solid 0.5px;
}

.border-f1 {
  border: fuchsia solid 2.5px;
}

.border-f2 {
  border: fuchsia solid 5px;
}

.border-g0 {
  border: greenyellow solid 0.5px;
}

.border-g1 {
  border: greenyellow solid 2.5px;
}

.border-g2 {
  border: greenyellow solid 5px;
}

.border-r0 {
  border: red solid 0.5px;
}

.border-r1 {
  border: red solid 2.5px;
}

.border-r2 {
  border: red solid 5px;
}

.border-y0 {
  border: yellow solid 0.5px;
}

.border-y1 {
  border: yellow solid 2.5px;
}

.border-y2 {
  border: yellow solid 5px;
}

.border-w0 {
  border: white solid 0.5px;
}

.border-w1 {
  border: white solid 2.5px;
}

.border-w2 {
  border: white solid 5px;
}

.z0 {
  z-index: 0;
}

.z1 {
  z-index: 1;
}

.z2 {
  z-index: 2;
}

.z3 {
  z-index: 3;
}

.z4 {
  z-index: 4;
}

.z5 {
  z-index: 5;
}

.z6 {
  z-index: 6;
}

.z7 {
  z-index: 7;
}

.absoluteSpread {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overflow-h {
  overflow: hidden;
}

.overflow-xh {
  overflow-x: hidden;
}

.overflow-yh {
  overflow-y: hidden;
}

.overflow-a {
  overflow: auto;
}

.overflow-xa {
  overflow-x: auto;
}

.overflow-ya {
  overflow-y: auto;
}
.p-rel {
  position: relative;
}

.p-fix {
  position: fixed;
}

.p-abs {
  position: absolute;
}

.o-0 {
  opacity: 0;
}

.o-1 {
  opacity: 1;
}

.visibility-h {
  visibility: hidden;
}

.flipHorizontal {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.flipVertical {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

.cardio {
  font-style: italic;
}

@media screen and (min-width: 576px) {
  .w-sm-0 {
    width: 0% !important;
  }

  .w-sm-25 {
    width: 25% !important;
  }

  .w-sm-50 {
    width: 50% !important;
  }

  .w-sm-75 {
    width: 75% !important;
  }

  .w-sm-100 {
    width: 100% !important;
  }

  .h-sm-0 {
    width: 0% !important;
  }

  .h-sm-25 {
    width: 25% !important;
  }

  .h-sm-50 {
    width: 50% !important;
  }

  .h-sm-75 {
    width: 75% !important;
  }

  .h-sm-100 {
    width: 100% !important;
  }
}

@media screen and (min-width: 768px) {
  .w-md-0 {
    width: 0% !important;
  }

  .w-md-25 {
    width: 25% !important;
  }

  .w-md-33 {
    width: 33% !important;
  }

  .w-md-50 {
    width: 50% !important;
  }

  .w-md-75 {
    width: 75% !important;
  }

  .w-md-100 {
    width: 100% !important;
  }

  .h-md-0 {
    width: 0% !important;
  }

  .h-md-25 {
    width: 25% !important;
  }

  .h-md-50 {
    width: 50% !important;
  }

  .h-md-75 {
    width: 75% !important;
  }

  .h-md-100 {
    width: 100% !important;
  }
}

@media screen and (min-width: 992px) {
  .w-lg-0 {
    width: 0% !important;
  }

  .w-lg-25 {
    width: 25% !important;
  }

  .w-lg-50 {
    width: 50% !important;
  }

  .w-lg-75 {
    width: 75% !important;
  }

  .w-lg-100 {
    width: 100% !important;
  }

  .h-lg-0 {
    width: 0% !important;
  }

  .h-lg-25 {
    width: 25% !important;
  }

  .h-lg-50 {
    width: 50% !important;
  }

  .h-lg-75 {
    width: 75% !important;
  }

  .h-lg-100 {
    width: 100% !important;
  }
}

@media screen and (min-width: 1200px) {
  .w-xl-0 {
    width: 0% !important;
  }

  .w-xl-25 {
    width: 25% !important;
  }

  .w-xl-50 {
    width: 50% !important;
  }

  .w-xl-75 {
    width: 75% !important;
  }

  .w-xl-100 {
    width: 100% !important;
  }

  .h-xl-0 {
    width: 0% !important;
  }

  .h-xl-25 {
    width: 25% !important;
  }

  .h-xl-50 {
    width: 50% !important;
  }

  .h-xl-75 {
    width: 75% !important;
  }

  .h-xl-100 {
    width: 100% !important;
  }
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

@media screen and (min-width: 992px) {
  .px-lg-6 {
    padding-left: 4.5rem !important;
    padding-right: 4.5rem !important;
  }
  .px-lg-7 {
    padding-left: 6rem !important;
    padding-right: 6rem !important;
  }
}

@media screen and (min-width: 1200px) {
  .px-xl-6 {
    padding-left: 4.5rem !important;
    padding-right: 4.5rem !important;
  }
  .px-xl-7 {
    padding-left: 6rem !important;
    padding-right: 6rem !important;
  }
}

.noHeight {
  height: 0px !important;
}
