.navSidebar {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  right: 0;
  width: 25%;
}

.navbar-brand-image {
  width: 50px;
  height: 50px;
}

.nav-item {
  /* display: table-cell;
  vertical-align: middle; */
  width: 130px;
  transition-duration: 1s;
  cursor: pointer;
  /* margin-left: 50px; */
  /* border: white dotted 1pt; */
}

.nav-link {
  transition: 0.5s ease-in-out;
  margin-left: -10px;
  height: 45px;
  transition-delay: 0s;
  text-align: center;
  margin-bottom: 0px;
}

.nav-item:hover .nav-link {
  font-size: 24px;
  margin-left: 5px;
  color: white !important;
}

.nav-item:not(:hover) .nav-link {
  transition-delay: 0.1s;
}

.nav-item:not(:hover) .navIcon {
  transition: 0.5s ease-in-out !important;
}

.nav-item:hover .navIcon {
  transition-delay: 0s;
  opacity: 1;
  -webkit-animation-name: spin-once;
  -webkit-animation-duration: 0.75s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: spin-once;
  -moz-animation-duration: 0.75s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-in-out;
  -ms-animation-name: spin-once;
  -ms-animation-duration: 0.75s;
  -ms-animation-iteration-count: 1;
  -ms-animation-timing-function: ease-in-out;
  -o-transition: rotate(3600deg);
}

@media only screen and (min-width: 768px) {
  .collapsibleNavbarHeight {
    height: 48px;
  }
}

.navIcon {
  opacity: 0;
  transition: 0.75s ease-in-out;
  transition-delay: 0;
  height: 20px;
  width: 20px;
  margin-left: 5px;
  position: relative;
  top: -3.5px;
}
