.navSidebar {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  right: 0;
  width: 25%;
}

.navbar-brand {
  margin-right: 0px !important;
}

.navbar-brand-image {
  width: 50px;
  height: 50px;
}

.nav-item {
  width: 122.5px;
  cursor: pointer;
}

.nav-link {
  height: 45px;
  margin-bottom: 0px;
  margin-left: -10px;
}

.nav-link_transition {
  transition: 0.5s ease-in-out;
}

.nav-item:not(:hover) .nav-icon_transition {
  transition: 0.25s ease-in-out !important;
}

.nav-item_transition {
  transition-duration: 1s;
}

.nav-item:not(:hover) .nav-link_transition {
  transition-delay: 0s;
}

.nav-item:hover .nav-link {
  font-size: 20px;
  margin-left: 5px;
  color: white !important;
}

.nav-item:hover .nav-icon_transition {
  transition-delay: 0s;
  opacity: 1;
  -webkit-animation-name: spin-once;
  -webkit-animation-duration: 0.75s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: spin-once;
  -moz-animation-duration: 0.75s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-in-out;
  -ms-animation-name: spin-once;
  -ms-animation-duration: 0.75s;
  -ms-animation-iteration-count: 1;
  -ms-animation-timing-function: ease-in-out;
  animation-name: spin-once;
  animation-duration: 0.75s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  -o-transition: rotate(3600deg);
}

@media only screen and (min-width: 768px) {
  .collapsibleNavbarHeight {
    height: 48px;
  }
}

.nav-icon {
  opacity: 0;
  height: 20px;
  width: 20px;
  margin-left: 5px;
  position: relative;
  top: -3.5px;
}

.nav-icon_transition {
  transition: 0.75s ease-in-out;
  transition-delay: 0s;
}
