.portfolioHolder {
  min-width: var(--cardHolderWidthSmall);
  margin: 10px 0px 0px 0px;
}

.portfolioCardHolder {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.25s ease;
}

.portfolioCard {
  width: var(--cardWidthSmaller) !important;
  min-width: var(--cardWidthSmaller) !important;
  max-width: var(--cardWidthSmaller) !important;

  height: var(--cardHeightSmaller) !important;
  min-height: var(--cardHeightSmaller) !important;
  max-height: var(--cardHeightSmaller) !important;

  margin: 15px 0px !important;

  overflow: hidden;
  border-radius: 0px !important;
  border: none !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

.portfolioCardImage {
  width: 100%;

  -moz-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;

  transition-delay: 0.05s;
}

.portfolioCardOverlay {
  width: 100%;
  height: 100%;
  padding-left: 5%;
  padding-right: 5%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 0;
  transition: opacity 0.75s ease-out;
  transition-delay: 0s;
  color: white;
  text-align: center;
}

.portfolioCard:hover .portfolioCardOverlay {
  opacity: 1;
}

.portfolioCard:hover .portfolioCardImage {
  width: 125%;
}

.techIconHolder {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  height: 60px;
  align-items: center;
  align-content: center;
}

.techIcon {
  margin: 2.5px;
  height: 40%;
}

.techIconImage {
  height: 100%;
}

.tooltip {
  color: white;
  font-weight: bold;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.portfolioCardHeader {
  font-size: 22px;
  padding: 0px;
  margin: 0px;
  margin-bottom: 6px;
}

.portfolioCardDesc {
  margin: 0px;
  font-size: 12px;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 6px;
}

.portfolioHeader {
  transition: opacity 0.25s ease;
}

.projectTitle {
  transition: filter 0.5s;
  cursor: pointer;
  text-decoration: underline;
  color: indigo;
}

.projectTitle:hover {
  color: indigo;
  -webkit-filter: brightness(150%);
  filter: brightness(150%);
}

.projectTitle h1 {
  font-size: calc(20px + 3vw);
}

.portfolioHeaderButtonImage {
  width: 50px;
  max-width: 50px;
}

.portfolioPageHolder {
  transition: opacity 0.25s ease;
}

.projectSquare {
  border-radius: 20px;
  background-color: rgba(200, 200, 200, 0.1);
  box-shadow: var(--myShadow1);
}

.projectSquareLeft {
  min-width: 300px;
  height: 100% !important;
}

.projectSquareLeft p,
li,
ul {
  font-size: var(--proseSize1);
}

.projectSquareRight {
  min-width: 250px;
}

.projectSquareImage {
  width: 40%;
}

.sourceLinkSubholder {
  text-decoration: none !important;
  width: 22.5%;
}

.sourceLinkIcon {
  width: 100%;
  max-width: 40px;
  margin-bottom: 10px;
}

.sourceLinkText {
  font-size: 75%;
  line-height: 125%;
}

.projectSquareMinipic {
  border-radius: 10%;
  cursor: pointer;
}

.projectSquareTextHeader {
  font-size: 16px;
  opacity: 0.5;
}

.projectSquareTextProse {
  font-size: 14px;
}

.sourceLinkHolder {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 20px 20px 0px 0px;
}

@media screen and (min-width: 410px) {
  .portfolioHolder {
    min-width: var(--cardHolderWidthMedium);
  }

  .portfolioCard {
    width: var(--cardWidthMedium) !important;
    min-width: var(--cardWidthMedium) !important;
    max-width: var(--cardWidthMedium) !important;

    height: var(--cardHeightMedium) !important;
    min-height: var(--cardHeightMedium) !important;
    max-height: var(--cardHeightMedium) !important;

    margin: 15px 20px !important;
  }

  .portfolioHolder {
    min-width: var(--cardHolderWidthMedium);
  }

  .portfolioCardHeader {
    font-size: 24px;
    margin-bottom: 0px;
  }

  .portfolioCardDesc {
    font-size: 16px;
    margin: 3px;
    margin-bottom: 12px;
  }

  .techIcon {
    margin: 4px;
    height: 50%;
    margin-bottom: 0px;
  }

  .techIconHolder {
    width: 90%;
    height: 60px;
  }
}

@media screen and (min-width: 576px) {
  .projectSquareLeft p,
  li,
  ul {
    font-size: var(--proseSize2);
  }

  .portfolioHolder {
    min-width: var(--cardHolderWidthLarge);
  }

  .portfolioCardOverlay {
    padding-left: 10%;
    padding-right: 10%;
  }

  .portfolioCard {
    width: var(--cardWidthLarge) !important;
    min-width: var(--cardWidthLarge) !important;
    max-width: var(--cardWidthLarge) !important;

    height: var(--cardHeightLarge) !important;
    min-height: var(--cardHeightLarge) !important;
    max-height: var(--cardHeightLarge) !important;

    margin: 15px 20px !important;
  }

  .portfolioCardHeader {
    font-size: 26px;
    margin-bottom: 0px;
  }

  .portfolioCardDesc {
    font-size: 16px;
    margin: 6px;
    margin-bottom: 24px;
  }

  .techIcon {
    margin: 5px;
    height: 60%;
    margin-bottom: 0px;
  }

  .techIconHolder {
    width: 120%;
    height: 60px;
  }

  .portfolioHeaderButtonImage {
    width: 100px;
    max-width: 100px;
  }
}
