.portfolioCardHolder {
  min-width: var(--cardHolderWidthSmall);
  display: flex;
  justify-content: center;
  margin: 50px 0px;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolioCard {
  width: var(--cardWidthSmall) !important;
  min-width: var(--cardWidthSmall) !important;
  max-width: var(--cardWidthSmall) !important;

  height: var(--cardHeightSmall) !important;
  min-height: var(--cardHeightSmall) !important;
  max-height: var(--cardHeightSmall) !important;

  margin: 15px 0px !important;

  overflow: hidden;
  border-radius: 10px;
}

@media screen and (min-width: 576px) {
  .portfolioCardHolder {
    min-width: var(--cardHolderWidthLarge);
    margin-bottom: 100px;
  }

  .portfolioCard {
    width: var(--cardWidthLarge) !important;
    min-width: var(--cardWidthLarge) !important;
    max-width: var(--cardWidthLarge) !important;

    height: var(--cardHeightLarge) !important;
    min-height: var(--cardHeightLarge) !important;
    max-height: var(--cardHeightLarge) !important;

    margin: 15px 20px !important;
  }
}

.portfolioCardImage {
  width: 100%;
  transition: width 0.75s ease-out;
  transition-delay: 0.15s;
}

.portfolioCardOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 1s ease-out;
  transition-delay: 0.15s;
  color: white;
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
}

.portfolioCard:hover .portfolioCardOverlay {
  opacity: 1;
}

.portfolioCard:hover .portfolioCardImage {
  width: 125%;
}

/* .portfolioCard .portfolioCardOverlay {
  opacity: 1;
}

.portfolioCard .portfolioCardImage {
  width: 125%;
} */

.techIcon {
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
}

.tooltip {
  color: white;
  font-weight: bold;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.portfolioCardHeader {
  padding: 0px;
  margin: 0px;
  margin-bottom: 8px;
}
